<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="CloudService">
      <section name="GoogleSetting" type="System.Configuration.NameValueSectionHandler"/>
      <!-- <section name="AmazonSetting" type="System.Configuration.NameValueSectionHandler"/> -->
    </sectionGroup>
  </configSections>

  <!-- add config here-->
  <CloudService>    
    <GoogleSetting>
      <add key="Operational" value="Start" />
      <add key="TargetHub" value="" /> <!-- only use for stop operation-->
      <add key="Zone" value="" />
      <add key="Project" value=""/>
      <add key="NumberOfHub" value="2" />
      <add key="Hub1" value="" />
      <add key="NodeList1" value="" />
      <add key="Hub2" value="" />
      <add key="NodeList2" value="" />
    </GoogleSetting>
  </CloudService>
  <!-- end config-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>